.mat-table{
    width: 100%;
    box-shadow: none;
}

.product-image{
    height: 20em;
    width: 20em;
}

@media all and (max-width : 699px){
    .product-image{
        height: 5rem;
        width: 5rem;
    }
}

.mat-spinner{
    margin: 10% auto;
}