<div class="card">
    <div class="card-header">Shopping Cart</div>
    <div *ngIf="cartItems === null" class="alert alert-info mt-2">Your Cart is Empty</div>

    <div class="card-body" *ngIf="cartItems !== null">
        <ul class="list-group mt-2">
            <li class="list-group-item" *ngFor="let item of cartItems">
                <app-cartitems [cartItem]="item"></app-cartitems>
            </li>
            <li class="list-group-item active">
                <strong>Total:</strong>{{ cartTotal | currency:"INR"}}
            </li>
        </ul>

        <div class="d-flex justify-content-between align-items-center pt-2">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary product-btn">View Cart</button>
                <button type="button" class="btn btn-sm btn-outline-secondary product-btn">Checkout</button>
            </div>
        </div>

    </div>
</div>