img {
  height: 14rem;
}
.example-card {
  max-width: 400px;
  margin-bottom: 1rem;
  margin-top: 1rem;
}

.example-header-image {
    background-size: cover;
}

.example-header-image img{
    height:3rem;
    width: 150%;
    padding-top: 1em;
    padding-left: 1em;
}
