<!-- <mat-card class="example-card">
    <mat-card-header>
      <div mat-card-avatar class="example-header-image">
        <img mat-card-image [src]="productItem.imgUrl" alt="Photo of a Shiba Inu">
      </div>
      <mat-card-title>{{productItem.name}}</mat-card-title>
      <mat-card-subtitle>{{productItem['category']}}</mat-card-subtitle>
    </mat-card-header>
    <img mat-card-image [src]="productItem.imgUrl" alt="Photo of a Shiba Inu">
    <mat-card-content>
        <div class="card-text">
            <strong>
                {{ productItem.price | currency:"INR"}}<br>      
            </strong>
        </div>
      <p>
        {{productItem.shortDesc}}
      </p>
    </mat-card-content>
    <mat-card-actions>
      <div class="btn-group">
        <button class="btn btn-sm btn-outline-primary product-btn">Add To Cart</button>
        <button class="btn btn-outline-secondary product-btn">View Product</button>
      </div>
    </mat-card-actions>
  </mat-card> -->