<div class="card mb-4 shadow-sm">
    <img class="bd-placeholder-img card-img-top p-2" width="100%" [src]="productItem.imgUrl">
    <div class="card-body">
        <div class="card-text">
            <strong>
                {{ productItem.price | currency:"INR"}}<br>      
            </strong>
        </div>
        <p class="card-text">{{productItem.name}}</p>
        <div class="d-flex justify-content-between align-items-center">
            <div class="btn-group">
                <button type="button" class="btn btn-sm btn-outline-primary product-btn" (click)="addToCart()">Add to Cart</button>
                <ng-template #content let-modal>
                    <div class="modal-header">
                      <h4 class="modal-title" id="modal-basic-title">{{productItem.name}}</h4>
                      <button type="button" class="close" aria-label="Close" (click)="modal.dismiss('Cross click')">
                        <span aria-hidden="true">&times;</span>
                      </button>
                    </div>
                    <div class="modal-body">
                      <div class="card">
                          <div class="row">
                              <div class="col-md-6">
                                <img class="bd-placeholder-img card-img-top p-2" [src]="productItem.imgUrl">
                              </div>
                              <div class="col-md-6">
                                  <div class="card-body">
                                      <div class="card-text">
                                        {{productItem.longDesc}}
                                      </div>
                                  </div>
                              </div>
                          </div>
                      </div>
                    </div>
                    <!-- <div class="modal-footer">
                      <button type="button" class="btn btn-outline-dark" (click)="modal.close('Save click')">Save</button>
                    </div> -->
                  </ng-template>
                  
                  <button class="btn btn-outline-secondary product-btn" (click)="open(content)">view Details</button>
            </div>
        </div>
    </div>
</div>